In [47]:
import pandas as pd

In [48]:
df  = pd.read_csv('asylum_seekers.csv')
df.drop('Unnamed: 0', axis =1 , inplace= True)

In [49]:
df.rename(columns={'Country / territory of asylum/residence': 'country_of_asylum','RSD procedure type / level': 'rsd_procedure_type',
               'Tota pending start-year':'total_pending_start_year', 'of which UNHCR-assisted(start-year)':'num_unhcr_assisted_start_year' ,
                'Applied during year':'applied_during_year', 'Otherwise closed': 'otherwise_closed',
                  'Total decisions': 'total_decisions','Total pending end-year' : 'total_pending_end_year',
                   'Rejected' : 'rejected', 'Origin': 'origin','Year':'year',
                  'of which UNHCR-assisted(end-year)': 'num_unhcr_assisted_end_year'}, inplace=True)

In [50]:
#filling nulls
df['rsd_procedure_type'].fillna('-', inplace = True)

In [51]:
df

,Unnamed: 0,year,country_of_asylum,origin,rsd_procedure_type,total_pending_start_year,num_unhcr_assisted_start_year,applied_during_year,decisions_recognized,decisions_other,rejected,otherwise_closed,total_decisions,total_pending_end_year,num_unhcr_assisted_end_year
0,0,2000,Zimbabwe,Afghanistan,G / FI,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0
1,1,2000,South Africa,Afghanistan,G / FI,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0
2,2,2000,Uzbekistan,Afghanistan,U / FI,265.0,265.0,2156.0,747.0,0.0,112.0,327.0,1186.0,1235.0,1235.0
3,3,2000,United States of America,Afghanistan,G / EO,196.0,0.0,225.0,151.0,0.0,31.0,68.0,250.0,171.0,0.0
4,4,2000,United States of America,Afghanistan,G / IN,193.0,0.0,218.0,182.0,0.0,51.0,40.0,273.0,150.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,129715,2016,United States of America,Zimbabwe,G / IN,232.0,0.0,229.0,16.0,0.0,0.0,10.0,28.0,435.0,0.0
129716,129716,2016,United States of America,Zimbabwe,G / EO,142.0,0.0,12.0,0.0,0.0,0.0,23.0,31.0,138.0,0.0
129717,129717,2016,South Africa,Zimbabwe,G / AR,94.0,9.0,0.0,0.0,0.0,0.0,94.0,94.0,0.0,0.0
129718,129718,2016,South Africa,Zimbabwe,G / FI,41238.0,4124.0,7964.0,73.0,0.0,7869.0,0.0,7942.0,41260.0,0.0
129719,129719,2016,Zambia,Zimbabwe,G / FI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
for col in ['total_pending_start_year', \
            'num_unhcr_assisted_start_year', \
            'applied_during_year', \
            'decisions_recognized', \
            'decisions_other', \
            'rejected', \
            'otherwise_closed', \
            'total_decisions', \
            'total_pending_end_year', \
            'num_unhcr_assisted_end_year']:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    df[col] = df[col].astype('float')
df

,Unnamed: 0,year,country_of_asylum,origin,rsd_procedure_type,total_pending_start_year,num_unhcr_assisted_start_year,applied_during_year,decisions_recognized,decisions_other,rejected,otherwise_closed,total_decisions,total_pending_end_year,num_unhcr_assisted_end_year
0,0,2000,Zimbabwe,Afghanistan,G / FI,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0
1,1,2000,South Africa,Afghanistan,G / FI,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0
2,2,2000,Uzbekistan,Afghanistan,U / FI,265.0,265.0,2156.0,747.0,0.0,112.0,327.0,1186.0,1235.0,1235.0
3,3,2000,United States of America,Afghanistan,G / EO,196.0,0.0,225.0,151.0,0.0,31.0,68.0,250.0,171.0,0.0
4,4,2000,United States of America,Afghanistan,G / IN,193.0,0.0,218.0,182.0,0.0,51.0,40.0,273.0,150.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,129715,2016,United States of America,Zimbabwe,G / IN,232.0,0.0,229.0,16.0,0.0,0.0,10.0,28.0,435.0,0.0
129716,129716,2016,United States of America,Zimbabwe,G / EO,142.0,0.0,12.0,0.0,0.0,0.0,23.0,31.0,138.0,0.0
129717,129717,2016,South Africa,Zimbabwe,G / AR,94.0,9.0,0.0,0.0,0.0,0.0,94.0,94.0,0.0,0.0
129718,129718,2016,South Africa,Zimbabwe,G / FI,41238.0,4124.0,7964.0,73.0,0.0,7869.0,0.0,7942.0,41260.0,0.0
129719,129719,2016,Zambia,Zimbabwe,G / FI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
df.fillna(0,inplace=True)

In [57]:
## making a sum dataframe of the data:
temp = df
temp.drop('rsd_procedure_type',axis =1 , inplace = True )
temp

,year,country_of_asylum,origin,total_pending_start_year,num_unhcr_assisted_start_year,applied_during_year,decisions_recognized,decisions_other,rejected,otherwise_closed,total_decisions,total_pending_end_year,num_unhcr_assisted_end_year
0,2000,Zimbabwe,Afghanistan,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0
1,2000,South Africa,Afghanistan,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0
2,2000,Uzbekistan,Afghanistan,265.0,265.0,2156.0,747.0,0.0,112.0,327.0,1186.0,1235.0,1235.0
3,2000,United States of America,Afghanistan,196.0,0.0,225.0,151.0,0.0,31.0,68.0,250.0,171.0,0.0
4,2000,United States of America,Afghanistan,193.0,0.0,218.0,182.0,0.0,51.0,40.0,273.0,150.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,2016,United States of America,Zimbabwe,232.0,0.0,229.0,16.0,0.0,0.0,10.0,28.0,435.0,0.0
129716,2016,United States of America,Zimbabwe,142.0,0.0,12.0,0.0,0.0,0.0,23.0,31.0,138.0,0.0
129717,2016,South Africa,Zimbabwe,94.0,9.0,0.0,0.0,0.0,0.0,94.0,94.0,0.0,0.0
129718,2016,South Africa,Zimbabwe,41238.0,4124.0,7964.0,73.0,0.0,7869.0,0.0,7942.0,41260.0,0.0
129719,2016,Zambia,Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
origins = temp['origin'].unique().tolist()

str

In [64]:
by_origin = pd.DataFrame(columns=['origin','total_applied', 'total_recognized'])
for o in origins:
    country = temp[temp['origin'] == o]
    by_origin = by_origin.append({'origin':o,'total_applied':country['applied_during_year'].sum(), 'total_recognized':country['decisions_recognized'].sum()},ignore_index=True)
by_origin

                     origin  total_applied  total_recognized
0               Afghanistan      1579358.0          239198.0
1                    Angola        74216.0           11717.0
2                   Albania       217021.0           14660.0
3                   Andorra           22.0               6.0
4      United Arab Emirates          551.0             120.0
..                      ...            ...               ...
217              Martinique            0.0               0.0
218  Svalbard and Jan Mayen            1.0               0.0
219                Anguilla            0.0               0.0
220          American Samoa            0.0               0.0
221          Norfolk Island            0.0               0.0

[222 rows x 3 columns]

In [65]:
assylum_contries = pd.DataFrame(columns=['country_of_asylum','total_applied', 'total_recognized'])
for o in origins:
    country = temp[temp['country_of_asylum'] == o]
    assylum_contries = assylum_contries.append({'country_of_asylum':o,'total_applied':country['applied_during_year'].sum(), 'total_recognized':country['decisions_recognized'].sum()},ignore_index=True)
assylum_contries

          country_of_asylum  total_applied  total_recognized
0               Afghanistan          814.0             249.0
1                    Angola        19972.0            2250.0
2                   Albania         3932.0             158.0
3                   Andorra            0.0               0.0
4      United Arab Emirates         3700.0            2433.0
..                      ...            ...               ...
217              Martinique            0.0               0.0
218  Svalbard and Jan Mayen            0.0               0.0
219                Anguilla            1.0               1.0
220          American Samoa            0.0               0.0
221          Norfolk Island            0.0               0.0

[222 rows x 3 columns]

# #######ANOTHER THING ###### ########

In [64]:
import pandas as pd
time_series = pd.read_csv('time_series.csv')
time_series = time_series[time_series['Year']>=1990]
time_series

c:\users\mutla\anaconda3\envs\py39\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Year,Country / territory of asylum/residence,Origin,Population type,Value
5149,1990,Afghanistan,Various/Unknown,Refugees (incl. refugee-like situations),50
5150,1990,Angola,Dem. Rep. of the Congo,Refugees (incl. refugee-like situations),9212
5151,1990,Angola,Namibia,Refugees (incl. refugee-like situations),245
5152,1990,Angola,South Africa,Refugees (incl. refugee-like situations),2100
5153,1990,Argentina,Various/Unknown,Refugees (incl. refugee-like situations),11735
...,...,...,...,...,...
298436,2016,Zimbabwe,Zimbabwe,Others of concern,128
298437,2016,Zimbabwe,Zimbabwe,Returned IDPs,0
298438,2016,Zimbabwe,Zimbabwe,Refugees (incl. refugee-like situations),0
298439,2016,Zimbabwe,Zimbabwe,Returnees,0
298440,2016,Zimbabwe,Zimbabwe,Stateless,0

In [65]:
time_series['Population type'].unique().tolist()

['Refugees (incl. refugee-like situations)',
 'Returnees',
 'Internally displaced persons',
 'Returned IDPs',
 'Others of concern',
 'Asylum-seekers',
 'Stateless']

In [66]:
countries_asylum = time_series['Country / territory of asylum/residence'].unique().tolist()
countries_origin = time_series['Origin'].unique().tolist()

In [67]:
time_series = time_series[time_series['Value'] !='*']
time_series['Value'] =time_series['Value'].astype(int)
time_series['Country / territory of asylum/residence'] = time_series['Country / territory of asylum/residence'].astype('str')
time_series["Origin"] = time_series['Origin'].astype('str')
time_series['Population type'] = time_series['Population type'].astype('str')
time_series.dtypes

<ipython-input-67-83ed2913ada7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time_series['Value'] =time_series['Value'].astype(int)
<ipython-input-67-83ed2913ada7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time_series['Country / territory of asylum/residence'] = time_series['Country / territory of asylum/residence'].astype('str')
<ipython-input-67-83ed2913ada7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time_series["Origin"] = time_series['Origin'].astype('str')
<ipython-input-67-83ed2913ada7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time_series['Population type'] = time_series['Population type'].astype('str')

Year                                        int64
Country / territory of asylum/residence    object
Origin                                     object
Population type                            object
Value                                       int32
dtype: object

In [68]:
time_series['Population type'].unique().tolist()

['Refugees (incl. refugee-like situations)',
 'Returnees',
 'Internally displaced persons',
 'Returned IDPs',
 'Others of concern',
 'Asylum-seekers',
 'Stateless']

In [69]:
## Asylum countries, yearly
assylum_contries = pd.DataFrame(columns=['country','ِrefugees_to'])
for o in countries_asylum:
    country = time_series[time_series['Country / territory of asylum/residence'] == o]
    assylum_contries = assylum_contries.append({'country':o,'ِrefugees_to':country['Value'].sum()},ignore_index=True)
assylum_contries

                         country ِrefugees_to
0                    Afghanistan     16693221
1                         Angola      1592546
2                      Argentina       172620
3                      Australia      1525425
4                        Austria      1882577
..                           ...          ...
191                        Nauru         3600
192                     Anguilla            1
193  Dem. People's Rep. of Korea           16
194                        Samoa            3
195                   Seychelles            0

[196 rows x 2 columns]

In [70]:
origin_contries = pd.DataFrame(columns=['country','ِrefugees_from'])
for o in countries_origin:
    country = time_series[time_series['Origin'] == o]
    origin_contries = origin_contries.append({'country':o,'ِrefugees_from':country['Value'].sum()},ignore_index=True)
origin_contries

                        country ِrefugees_from
0               Various/Unknown       29876479
1        Dem. Rep. of the Congo       37720136
2                       Namibia          35263
3                  South Africa          66696
4                        Rwanda       13563584
..                          ...            ...
217                    Anguilla              2
218              Norfolk Island              2
219  Wallis and Futuna Islands               2
220      Svalbard and Jan Mayen              1
221              American Samoa              0

[222 rows x 2 columns]

In [71]:
df_countries = pd.merge(origin_contries, assylum_contries, on='country')

df_countries

                    country ِrefugees_from ِrefugees_to
0    Dem. Rep. of the Congo       37720136     40428200
1                   Namibia          35263       241777
2              South Africa          66696      5310138
3                    Rwanda       13563584      3223987
4                   Somalia       33553833     14823545
..                      ...            ...          ...
187                   Aruba              2           25
188             South Sudan       10578741      8810965
189  British Virgin Islands              1           15
190                 Curaçao            199          382
191                Anguilla              2            1

[192 rows x 3 columns]

In [72]:
# for every country calculate the following displace type
cols =['country', 'Internally displaced persons','Refugees (incl. refugee-like situations)', 'Returnees', 'Returned IDPs', 'Others of concern','Asylum-seekers','Stateless']
population_types = pd.DataFrame(columns=cols)
for i in countries_origin:
    for j in cols[1:]:
        country = time_series[time_series['Origin'] == i]
        internally = country.loc[time_series['Population type'] == 'Internally displaced persons', 'Value'].sum()
        refugees = country.loc[time_series['Population type'] == 'Refugees (incl. refugee-like situations)', 'Value'].sum()
        returnees = country.loc[time_series['Population type'] == 'Returnees', 'Value'].sum()
        idps = country.loc[time_series['Population type'] == 'Returned IDPs', 'Value'].sum()
        ooc = country.loc[time_series['Population type'] == 'Others of concern', 'Value'].sum()
        as_seekers = country.loc[time_series['Population type'] == 'Asylum-seekers', 'Value'].sum()
        stateless =  country.loc[time_series['Population type'] == 'Stateless', 'Value'].sum()
        population_types =population_types.append({'country':i,'Internally displaced persons':internally,
                                                  'Refugees (incl. refugee-like situations)': refugees,
                                                  'Returnees':returnees,
                                                  'Returned IDPs': idps,
                                                  'Others of concern': ooc,
                                                  'Asylum-seekers': as_seekers,
                                                  'Stateless': stateless},ignore_index=True)


population_types

,country,Internally displaced persons,Refugees (incl. refugee-like situations),Returnees,Returned IDPs,Others of concern,Asylum-seekers,Stateless
0,Various/Unknown,0,24011673,26790,0,920835,4917181,0
1,Various/Unknown,0,24011673,26790,0,920835,4917181,0
2,Various/Unknown,0,24011673,26790,0,920835,4917181,0
3,Various/Unknown,0,24011673,26790,0,920835,4917181,0
4,Various/Unknown,0,24011673,26790,0,920835,4917181,0
...,...,...,...,...,...,...,...,...
1549,American Samoa,0,0,0,0,0,0,0
1550,American Samoa,0,0,0,0,0,0,0
1551,American Samoa,0,0,0,0,0,0,0
1552,American Samoa,0,0,0,0,0,0,0
1553,American Samoa,0,0,0,0,0,0,0

In [73]:
population_types.drop_duplicates(inplace=True)
population_types

,country,Internally displaced persons,Refugees (incl. refugee-like situations),Returnees,Returned IDPs,Others of concern,Asylum-seekers,Stateless
0,Various/Unknown,0,24011673,26790,0,920835,4917181,0
7,Dem. Rep. of the Congo,21529538,8900594,658240,5669607,132738,829419,0
14,Namibia,0,25764,5982,0,77,3440,0
21,South Africa,0,53406,7844,0,12,5434,0
28,Rwanda,946877,8407743,3364136,626100,26747,191981,0
...,...,...,...,...,...,...,...,...
1519,Anguilla,0,2,0,0,0,0,0
1526,Norfolk Island,0,2,0,0,0,0,0
1533,Wallis and Futuna Islands,0,0,0,0,0,2,0
1540,Svalbard and Jan Mayen,0,0,0,0,0,1,0
1547,American Samoa,0,0,0,0,0,0,0

In [74]:
df_countries = pd.merge(df_countries, population_types, on='country')

In [75]:
df_countries
df_countries.to_csv('countries.csv', index=False)